# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Environment variables
.env

# Dependency directories
jspm_packages/

# Coverage directory used by tools like istanbul
coverage/

# IDE and Editor folders
.idea/
.vscode/
.DS_Store

# Optional npm cache directory
.npm/

# Yarn integrity file
.yarn-integrity
